################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/Areas/AreasClientBridge/Debug
/code/Areas/.vs/Areas/v15
/code/Areas/Debug
/code/Areas/AreasClientBridge/AreasClientBridge.vcxproj.user
/.vs
/code/Algos/.vs/Algos/v15
/code/Algos/Debug
/code/Algos/AlgosBridge/Debug/AlgosBridge.tlog
/code/Algos/AlgosBridge/Debug
/code/Algos/AlgosTestConsole/x64/Debug
/code/Algos/DotNetCoreAdapter/x64/Debug
/code/Algos/ManagedLayer/bin/Debug/netcoreapp2.0
/code/Algos/ManagedLayer/obj
/code/Algos/x64/Debug
/code/Algos/AlgosBridge/x64/Debug
