################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/Areas/AreasClientBridge/Debug
/code/Areas/.vs/Areas/v15
/code/Areas/Debug
/code/Areas/AreasClientBridge/AreasClientBridge.vcxproj.user
/.vs
/code/Algos/.vs/Algos/v15
/code/Algos/Debug
/code/Algos/AlgosBridge/Debug/AlgosBridge.tlog
/code/Algos/AlgosBridge/Debug
