################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/Areas/AreasClientBridge/Debug
/code/Areas/.vs/Areas/v15
/code/Areas/Debug
/code/Areas/AreasClientBridge/AreasClientBridge.vcxproj.user
/.vs
